In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('tb.xlsx')

In [3]:
df

   Account              Name  Balance
0     1010              Cash     3000
1     2110  Accounts Payable    -2000
2     5100          Revenues    -1500
3     6100          Expenses      500

In [4]:
df['Balance'].sum()

0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
Account    4 non-null int64
Name       4 non-null object
Balance    4 non-null int64
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes

In [9]:
df['Acct_num_name'] = df['Account'].astype(str) + '_' + df['Name']

In [10]:
df

   Account              Name  Balance          Acct_num_name
0     1010              Cash     3000              1010_Cash
1     2110  Accounts Payable    -2000  2110_Accounts Payable
2     5100          Revenues    -1500          5100_Revenues
3     6100          Expenses      500          6100_Expenses

In [11]:
df.to_csv('new_tb.csv', index=False)