In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('tb.xlsx', sheet_name=None)

In [3]:
df.keys()

odict_keys(['tb_balances', 'tb_desc', 'fs_groupings'])

In [4]:
df_bal = df['tb_balances']
df_desc = df['tb_desc']
df_group = df['fs_groupings']

In [5]:
df_bal.head()

   Account  Balance
0     1000    79256
1     1010    24498
2     1020   -54289
3     1030    76519
4     1040   -12535

In [6]:
df_desc.head()

   Account                            Description
0     1000                             Petty Cash
1     1010  Cash on Hand (e.g. in cash registers)
2     1020               Regular Checking Account
3     1030               Payroll Checking Account
4     1040                        Savings Account

In [7]:
df_group.head()

   Account Financial Statement Grouping
0     1000    Cash and cash equivalents
1     1010    Cash and cash equivalents
2     1020    Cash and cash equivalents
3     1030    Cash and cash equivalents
4     1040    Cash and cash equivalents

In [8]:
df_desc_dict = dict(zip(df_desc['Account'], df_desc['Description']))

In [16]:
df_desc_dict.get(1010, 'ERROR - not found')

'Cash on Hand (e.g. in cash registers)'

In [18]:
def get_desc(acct):
    return df_desc_dict.get(acct, 'ERROR - not found')


get_desc(1010)

'Cash on Hand (e.g. in cash registers)'

In [19]:
get_desc(100)

'ERROR - not found'

In [20]:
df_bal['Description'] = df_bal['Account'].map(get_desc)

In [21]:
df_bal.head()

   Account  Balance                            Description
0     1000    79256                             Petty Cash
1     1010    24498  Cash on Hand (e.g. in cash registers)
2     1020   -54289               Regular Checking Account
3     1030    76519               Payroll Checking Account
4     1040   -12535                        Savings Account

In [22]:
df_group_dict = dict(zip(df_group['Account'], df_group['Financial Statement Grouping']))

In [25]:
def get_group(acct):
    return df_group_dict.get(acct, 'ERROR - not found')

get_group(1000)

'Cash and cash equivalents'

In [26]:
df_bal['Grouping'] = df_bal['Account'].map(get_group)

In [27]:
df_bal.head()

,Account,Balance,Description,Grouping
0,1000,79256,Petty Cash,Cash and cash equivalents
1,1010,24498,Cash on Hand (e.g. in cash registers),Cash and cash equivalents
2,1020,-54289,Regular Checking Account,Cash and cash equivalents
3,1030,76519,Payroll Checking Account,Cash and cash equivalents
4,1040,-12535,Savings Account,Cash and cash equivalents

In [36]:
df_bal.pivot_table(index='Grouping', values='Balance', aggfunc=sum)

                              Balance
Grouping
Accounts payable                40897
Accounts receivable, net        81124
Accrued expenses                11866
Capital                          2800
Capital surplus                  1049
Cash and cash equivalents      106189
Cost of goods sold             -41942
Deferred revenue               -27622
Deposits                        29768
Discounts                       15014
Interest income                -79133
Inventory                      -89868
Long-term debt, current         68184
Notes payable                   66647
Notes receivable                 -970
Notes receivable, noncurrent    -4324
Operating costs               -210329
Organization costs, net       -128221
Other current assets            16667
Other current liabilities     -158063
Other income                     7154
Other long-term liabilities     97425
Other non-current assets       -26977
Prepaids and advances           51274
Property and equipment, net    260251
Reimbursements                 -85446
Retained earnings              -37271
Returns and allowances         -30767
Sales                          112404