In [1]:
from dataclasses import dataclass, field, asdict
from typing import List

import pandas as pd

In [2]:
@dataclass
class Transaction:
    date: str = ""
    account: int = 0
    title: str = ''
    amount: float = 0.0

In [3]:
txn = Transaction('1/1/20', 1010, 'Cash', 500)

In [6]:
@dataclass
class GeneralLedger:
    transactions: List[Transaction] = field(default_factory=list)
        
    def trial_balance(self):
        df = pd.DataFrame([asdict(txn) for txn in self.transactions])
        return df.pivot_table(
            index=['account', 'title'],
            values='amount',
            aggfunc=sum
        ).reset_index()

In [7]:
GeneralLedger([txn, txn]).trial_balance()

   account title  amount
0     1010  Cash    1000