In [ ]:
# conda install faker

In [73]:
from datetime import datetime
from collections import namedtuple
from random import randint

import pandas as pd
from faker import Faker

In [2]:
fake = Faker()

In [16]:
SubTxn = namedtuple('SubTxn', 'invoice_no date vendor_number vendor_name txn_type txn_amount')

In [40]:
# invoice_no - increase consecutively
# date - date of the transaction
# vendor_number - use first 6 characters of vendor name, all caps, no spaces, commas, or dashes
# txn_type - invoice or payment
# txn_amount - amount of txn

In [17]:
def get_date():
    return str(fake.date_between_dates(
        date_start=datetime(2019, 1, 1), 
        date_end=datetime(2019, 12, 31)
    ))

In [32]:
def get_vendor():
    return fake.company()

In [39]:
def get_vendor_number(vendor_name):
    return vendor_name.replace(' ', '').replace(',', '').replace('-', '')[:6].upper()

In [56]:
def get_amount():
    return round(fake.pydecimal(min_value=-100000, max_value=100000), 2)

In [71]:
def get_txn_type(amount):
    return 'Invoice' if amount > 0 else 'Payment'

In [75]:
def get_inv_number():
    return (randint(1, 10000))

In [83]:
vend = get_vendor()
amt = get_amount()
SubTxn(get_inv_number(), get_date(), get_vendor_number(vend), vend, get_txn_type(amt), amt)

SubTxn(invoice_no=3416, date='2019-04-14', vendor_number='KRAUSE', vendor_name='Krause PLC', txn_type='Payment', txn_amount=Decimal('-67232.30'))

In [85]:
subl_act = []
for _ in range(100000):
    vend = get_vendor()
    amt = get_amount()
    txn = SubTxn(get_inv_number(), get_date(), get_vendor_number(vend), vend, get_txn_type(amt), amt)
    subl_act.append(txn)

In [87]:
df = pd.DataFrame(subl_act)

In [88]:
df.head()

,invoice_no,date,vendor_number,vendor_name,txn_type,txn_amount
0,9912,2019-09-24,SMITHL,Smith LLC,Payment,-28967.00
1,6974,2019-11-17,STEWAR,Stewart-Cruz,Payment,-92590.27
2,5268,2019-08-05,SHERMA,Sherman-Gardner,Invoice,56903.40
3,4232,2019-10-26,MAYVAU,May-Vaughn,Payment,-5387.61
4,1640,2019-01-29,JORDAN,"Jordan, Frank and Alvarado",Payment,-60291.11

In [89]:
df.to_csv('ap_subl_2019.csv', index=False)